*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

main{
    width: 60%;
    height: 500px;
    box-shadow: 0 0 5px black;
    margin: auto;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;

}

.btn{
 text-align: center;
 margin-top: 20px;
}
.btn button{
    padding: 10px 30px;
}